@model CourseViewModel
@{
    ViewData["Title"] = "Course Details - Examly";
}
<indicator hidden>admin-courses</indicator>
<div class="row justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="card-title m-0">Course Details</p>
                    <div>
                        <a asp-action="Edit" asp-controller="Course" asp-route-Id="@Model.Id" class="btn btn-inverse-primary btn-rounded btn-icon ml-1 align-content-center">
                            <i class="mdi mdi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-controller="Course" asp-route-Id="@Model.Id" class="btn btn-inverse-danger btn-rounded btn-icon ml-1 align-content-center">
                            <i class="mdi mdi-delete"></i>
                        </a>
                        <a asp-action="Index" asp-controller="Course"
                           class="btn btn-inverse-dark btn-rounded btn-icon ml-1 align-content-center">
                            <i class="mdi mdi-close"></i>
                        </a>

                    </div> 
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="card-text">ID: <strong> @Model.Id</strong> </p>
                        <p class="card-text">Name: <strong>@Model.Name </strong></p>
                        <p class="card-text">Description: <strong>@Model.Description </strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

