@model List<CourseViewModel>
@{
    ViewData["Title"] = "Examly";
    Layout = "_DesignLayout";
}
<indicator hidden>admin-courses</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="card-title m-0">Courses</p>
                    <a type="button"
                       asp-action="Create" asp-controller="Course"
                       class="btn btn-inverse-primary btn-icon-text">
                        <i class="mdi mdi-plus btn-icon-prepend d-inline-block"></i>
                        Add Course
                    </a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table display expandable-table">
                                <thead >
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model?.Count > 0)
                                    {
                                        foreach (var crs in Model)
                                        {
                                            <tr>
                                                <td>@crs.Id</td>
                                                <td>@crs.Name</td>
                                                <td>
                                                    <a asp-action="Details" asp-controller="Course" asp-route-Id="@crs.Id" class="btn btn-inverse-dark btn-rounded btn-icon ml-1 align-content-center">
                                                        <i class="mdi mdi-information-variant"></i>
                                                    </a>
                                                    <a asp-action="Edit" asp-controller="Course" asp-route-Id="@crs.Id" class="btn btn-inverse-primary btn-rounded btn-icon ml-1 align-content-center">
                                                        <i class="mdi mdi-pencil"></i>
                                                    </a>
                                                    <a asp-action="Delete" asp-controller="Course" asp-route-Id="@crs.Id" class="btn btn-inverse-danger btn-rounded btn-icon ml-1 align-content-center">
                                                        <i class="mdi mdi-delete"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3">No Courses yet</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

