@model List<onlineExamInestractour.ViewModels.InstructorViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Courses Taught</h1>

<table class="table table-bordeded">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Course Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.CourseName</td>
                <td>
                    <a asp-action="Info" asp-controller="Instructor" asp-route-id="@item.CourseId" class="btn btn-dark">Info</a>
                    |<a asp-action="QuestionBank" asp-controller="Instructor" asp-route-id="@item.CourseId" class="btn btn-dark">QuestionBank</a>
                    |<a asp-action="GenerateExam" asp-controller="Instructor" asp-route-id="@item.CourseId" class="btn btn-dark">AddExam</a>
                    |

                </td>
            </tr>
        }
    </tbody>
</table>


