@model InstExamViewModel

@{
    ViewData["Title"] = "Exam Info";
}

<h1>Exam Info</h1>

<p><strong>Course:</strong> @Model.CourseName</p>
<p><strong>Title:</strong> @Model.Title</p>
<p><strong>Duration in Minutes:</strong> @Model.DurationInMinutes</p>
<p><strong>Date:</strong> @Model.ExamDate</p>
<p><strong>Total Grade:</strong> @Model.TotalGrade</p>

<h4>Questions</h4>
<br />
@foreach (var question in Model.Questions)
{
    <div>
        <p class="mb-0"><strong>Question:</strong> @question.Text</p>
        <p class="mb-0"><strong>Grade:</strong> @question.Grade</p>
        @if (question.Choices.Count > 1)
        {
            <label>Choices</label>
            @foreach (var choice in question.Choices)
            {
                <input type="text" class="form-control" value="@choice.Text" readonly />
                <span class="@(@choice.IsCorrect ? "text-info" : "text-danger")">@choice.IsCorrect</span>
                <br />
            }
        }
        else
        {

            <label>Choice</label>
            <input type="text" class="form-control" value="@question.Choices[0].Text" readonly />
            <br />
        }
        <br />
        <br />
    </div>
}