@model QuestionViewModel
@{
}
<div id="multipleChoicesContainer">
    <div class="form-group">
        <label>Choice 1</label>
        <input asp-for="Choices[0].Id" value="@Model.Choices[0].Id" hidden />
        <input asp-for="Choices[0].Text" value="@Model.Choices[0].Text" />
        <input type="checkbox" asp-for="Choices[0].IsCorrect" />
    </div>
    <div class="form-group">
        <label>choice 2</label>
        <input asp-for="Choices[1].Id" value="@Model.Choices[1].Id" hidden />
        <input asp-for="Choices[1].Text" value="@Model.Choices[1].Text" />
        <input type="checkbox" asp-for="Choices[1].IsCorrect" />
    </div>
    <div class="form-group">
        <label>choice 3</label>
        <input asp-for="Choices[2].Id" value="@Model.Choices[2].Id" hidden />
        <input asp-for="Choices[2].Text" value="@Model.Choices[2].Text" />
        <input type="checkbox" asp-for="Choices[2].IsCorrect" />
    </div>
    <div class="form-group">
        <label>choice 4</label>
        <input asp-for="Choices[3].Id" value="@Model.Choices[3].Id" hidden />
        <input asp-for="Choices[3].Text" value="@Model.Choices[3].Text" />
        <input type="checkbox" asp-for="Choices[3].IsCorrect" />
    </div>
</div>
