@model QuestionViewModel
@{
    ViewData["Title"] = "QuestionInfo";
}

<h1>Question Info</h1>

<div>

    <p><strong>Course Name:</strong> @Model.Course?.Name</p>
    <p><strong>Question Text:</strong> @Model.Text</p>
    <p><strong>choices Type:</strong> @(Model.Type == QVMType.MCQ ? "Multiple Choices": " Ture / False")</p>
    @if (Model.Choices.Count>1)
    {
        @foreach (var choice in Model.Choices)
        {
            <div class="form-group">
                <label>Choice</label>
                <input type="text" class="form-control" value="@choice.Text" readonly />
                <span class="@(@choice.IsCorrect ? "text-info" : "text-danger")">@choice.IsCorrect</span>
            </div>
        }
    }
    else
    {
        <div class="form-group">
            <label>Choice</label>
            <input type="text" class="form-control" value="@Model.Choices[0].Text" readonly />
        </div>
    }


</div>