@model ExamListsViewModel

@{
    ViewData["Title"] = "E-Exam | Exams";
}

<h2>Exams List</h2>
<br />
<div class="container">
    <h4>Upcoming Exams</h4>
    <table class="table">
        <tr>
            <th class="col-4">Exam Name</th>
            <th>Date</th>
            <th>Grade</th>
            <th>Availability</th>
        </tr>
        @if (Model.UpcomingExams.Count() > 0)
            @foreach (var commingExam in Model.UpcomingExams)
            {

                <tr>
                    <td>@commingExam.CourseName - @commingExam.Title </td>
                    <td>@commingExam.ExamDate</td>
                    <td>@commingExam.TotalGrade</td>
                    <td>
                        @if (commingExam.ExamDate > DateTime.Now)
                        {
                            <a asp-action="ExamEdit" asp-route-id="@commingExam.Id" class="btn btn-info">Edit</a>
                            <a asp-action="ExamDelete" asp-route-id="@commingExam.Id" class="btn btn-danger">Delete</a>
                        }
                        else
                        {
                            <span class="not-available">@(DateTime.Now)</span>
                        }
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td colspan="3">No upcomming exams</td>
            </tr>
        }
    </table>
    <h4>Past Exams</h4>
    <table class="table">
        <tr>
            <th class="col-4">Exam Name</th>
            <th>Date</th>
            <th>Grades</th>
            <th>Answers</th>
        </tr>
        @if (Model.PastExams.Count() > 0)
            foreach (var pastExam in Model.PastExams)
            {
                <tr>
                    <td>@pastExam.CourseName - @pastExam.Title</td>
                    <td>@pastExam.ExamDate</td>
                    <td>@pastExam.TotalGrade</td>
                    <td>
                        <a class="btn btn-info" asp-action="Answers" asp-controller="Student" asp-route-id="@pastExam.Id">Grades</a>
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td colspan="4">No old exams</td>
            </tr>
        }
    </table>
</div>
