@model IEnumerable<StudentAnswersViewModel>
@{
    ViewData["Title"] = "E-Exam | Answers";
}

<a class="btn info" asp-action="Exams">Back</a>
<h1>Grade: @ViewBag.StudentGrade/@ViewBag.TotalGrade</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Question (grade)</th>
            <th>Answer</th>
            <th>Correct Answer</th>
            <th>Mark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var examChoice in Model)
        {
            string choiceClass = examChoice.IsCorrect ? "text-success" : "text-danger";
            <tr>
                <td>@examChoice.QuestionText (@examChoice.QuestionGrade)</td>
                <td>
                    <ul class="mb-0">
                        @foreach (var choice in examChoice.StudentChoices)
                        {
                            <li class="@choiceClass">@choice.Text</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul class="mb-0">
                        @foreach (var choice in examChoice.CorrectChoices)
                        {
                            <li>@choice.Text</li>
                        }
                    </ul>
                </td>
                <td>

                    <span>@(examChoice.IsCorrect ? "✔" : "❌") </span>
                    <br />

                </td>
            </tr>
        }
    </tbody>
</table>
