@model StudentExamsViewModel
@{
    ViewData["Title"] = "E-Exam | Exams";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Upcoming Exams</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table display expandable-table">
                                <thead>
                                    <tr>
                                        <th>Exam Name</th>
                                        <th>Date</th>
                                        <th>Availability</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CommingExams.Count() > 0)
                                        @foreach (var commingExam in Model.CommingExams)
                                        {
                                            <tr class="examRow">
                                                <td>@commingExam.CourseName | @commingExam.Title | @commingExam.TotalGrade</td>
                                                <td class="datestr">@commingExam.ExamDate</td>
                                                <td>
                                                    
                                                        <a class="btn btn-primary takeBtn" asp-action="TakeExam" asp-controller="Student" asp-route-examId="@commingExam.Id">Take Exam</a>
                                                    
                                                </td>
                                            </tr>
                                        }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center">No Upcomming Exams </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Taken Exams</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table display expandable-table">
                                <thead>
                                    <tr>
                                        <th>Exam Name</th>
                                        <th>Date</th>
                                        <th>Grades</th>
                                        <th>Answers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ExamsTaken.Count() > 0)
                                        foreach (var examTaken in Model.ExamsTaken)
                                        {
                                            <tr>
                                                <td>@examTaken.Exam.CourseName | @examTaken.Exam.Title</td>
                                                <td>@examTaken.Exam.ExamDate</td>
                                                <td>@examTaken.Grade/@examTaken.Exam.TotalGrade</td>
                                                <td>
                                                    <a asp-action="Answers" asp-controller="Student" asp-route-examId="@examTaken.ExamId">
                                                        <button type="button"class="btn btn-inverse-primary btn-rounded btn-icon-md ml-4">
                                                                <i class="mdi mdi-table-large"></i>
                                                        </button>
                                                    </a>                                                                                                       
                                                </td>
                                            </tr>
                                        }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4" class="text-center">No Exams Taken</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Missed Exams</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table display expandable-table">
                                <thead>
                                    <tr>
                                        <th>Exam Name</th>
                                        <th>Date</th>
                                        <th>Grades</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.MissedExams.Count() > 0)
                                        foreach (var missedExam in Model.MissedExams)
                                        {
                                            <tr>
                                                <td>@missedExam.CourseName| @missedExam.Title</td>
                                                <td>@missedExam.ExamDate</td>
                                                <td>0/@missedExam.TotalGrade</td>
                                            </tr>
                                        }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center">No Missed Exams </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            function UpdateBtnsState() {
                let rows = $(".examRow");
                rows.each((i, item) => {
                    let examDateString = item.querySelector('.datestr').textContent;
                    let examDate = new Date(examDateString);
                    let btn = item.querySelector('.takeBtn');
                    if (examDate > new Date()) {
                        btn.classList.add("disabled");
                    }
                    else {
                        btn.classList.remove("disabled");
                    }
                });
            }
            UpdateBtnsState();
            setInterval(() => UpdateBtnsState(), 10000);
        });
    </script>
}


