@model InstExamViewModel
@{
    string formattedDateTime = Model.ExamDate.ToString("yyyy-MM-ddTHH:mm");
}

<div class="row m-1">
    <div class="col-md-4">
        <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />
        <input type="hidden" asp-for="DepartmentId" value="@Model.DepartmentId" />

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" value="@Model.Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExamDate">Date</label>
        <input asp-for="ExamDate" value="@formattedDateTime" class="form-control" />
            <span asp-validation-for="ExamDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DurationInMinutes">Duration in minutes</label>
            <input asp-for="DurationInMinutes" value="@Model.DurationInMinutes" class="form-control" />
            <span asp-validation-for="DurationInMinutes" class="text-danger"></span>
        </div>
    </div>
</div>  

