@model IEnumerable<StaffExamTakenViewModel>

@{
    ViewData["Title"] = "Exam Grades - Examly";
    string examTitle = Model != null && Model.Count() > 0 ? " - " + @Model.ElementAt(0).ExamTitle : string.Empty;
}
<indicator hidden>inst-exams</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Grades @examTitle</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table display expandable-table">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Progress</th>
                                        <th>Grade</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var examTaken in Model)
                                        {
                                            int percentage = (int)(((double)examTaken.Grade / examTaken.TotalGrade) * 100);
                                            string progressColor = percentage <= 49 ? "bg-danger" : percentage <= 79 ? "bg-warning" : "bg-success";
                                            <tr>
                                                <td>@examTaken.StudentName</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar @progressColor" role="progressbar" style="width: @(percentage)%" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                                <td>@examTaken.Grade</td>
                                                <td class="col-1">
                                                    <a type="button"
                                                       asp-action="StudentAnswers" asp-route-examId="@examTaken.ExamId"
                                                       asp-route-stdId="@examTaken.StudentId"
                                                       class="btn btn-inverse-primary btn-sm ml-1">
                                                        Answers
                                                    </a>
                                                </td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">No grades for this exam!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>