@model InstExamViewModel

@{
    ViewData["Title"] = "Edit Exam";
}

<h1>Edit Exam</h1>

<p><strong>Course:</strong> @Model.CourseName</p>
<p><strong>Exam:</strong> @Model.Title</p>

<form asp-action="EditExam" method="post">
    <input asp-for="Id" value="@Model.Id" hidden />
    <input asp-for="TotalGrade" value="@Model.TotalGrade" hidden />
    <partial name="ExamEditPartial" />
    <br />
    <button type="submit" asp-route-id="@Model.CourseId" class="btn btn-primary">Submit</button>
</form>

<br />
<h4>Questions</h4>
@if (Model.Questions != null)
{
    foreach (var question in Model.Questions)
    {
        <div>
            <p class="mb-0"><strong>Question:</strong> @question.Text</p>
            <p class="mb-0"><strong>Difficulty:</strong> @question.Difficulty</p>
            <p class="mb-0"><strong>Grade:</strong> @question.Grade</p>
            @if (question.Choices.Count > 1)
            {
                <label>Choices</label>
                @foreach (var choice in question.Choices)
                {
                    <input type="text" class="form-control" value="@choice.Text" readonly />
                    <span class="@(@choice.IsCorrect ? "text-info" : "text-danger")">@choice.IsCorrect</span>
                    <br />
                }
            }
            else
            {

                <label>Choice</label>
                <input type="text" class="form-control" value="@question.Choices[0].Text" readonly />
                <br />
            }
            <br />
            <br />
        </div>
    }
}
