@model IEnumerable<DataAccessLibrary.Model.DepartmentCourse>
@{
    ViewData["Title"] = "Index";
}

<h1>Courses Taught</h1>

<table class="table table-bordeded">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Course Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Department.Name</td>
                <td>@item.Course.Name</td>
                <td>
                    <a asp-action="Info" asp-route-id="@item.CourseId" class="btn btn-dark">Info</a>
                    <a asp-action="QuestionBank" asp-route-id="@item.CourseId" class="btn btn-dark">Question Bank</a>
                    <a asp-action="MakeExam" asp-route-id="@item.CourseId" class="btn btn-dark">Make Exam</a>
                </td>
            </tr>
        }
    </tbody>
</table>


