@model IEnumerable<DataAccessLibrary.Model.DepartmentCourse>
@{
    ViewData["Title"] = "Index";
}
<div class="text">
    <h2 data-text="Courses_Taught">Courses_Taught</h2>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Course Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Department.Name</td>
                <td>@item.Course.Name</td>
                <td>
                    <a asp-action="Info" asp-route-id="@item.CourseId" class="btn info">Info</a>
                    <a asp-action="QuestionBank" asp-route-id="@item.CourseId" class="btn success">Question Bank</a>
                    <a asp-action="MakeExam" asp-route-deptId="@item.DepartmentId" asp-route-id="@item.CourseId" class="btn primary">Make Exam</a>
                </td>
            </tr>
        }
    </tbody>
</table>


