@model IEnumerable<DataAccessLibrary.Model.Question>
@{
    ViewData["Title"] = "QuestionBank";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Question Bank</h1>
    <a asp-action="AddQuestion" asp-route-id="@ViewBag.CourseId" class="btn success col-2">Add</a></td>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Difficulty</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Text</td>
                <td>@(question.Type == QType.TrueFalse ? "True/False" : "MCQ")</td>
                <td>@question.Difficulty</td>
                <td>
                    <a asp-action="QuestionInfo" asp-route-id="@question.Id" class="btn info">Info</a>
                    <a asp-action="EditQuestion" asp-route-id="@question.Id" class="btn success">Edit</a>
                    <a asp-action="DeleteQuestion" onclick="return confirm(' Are you sure ')" asp-route-id="@question.CourseId" asp-route-qId="@question.Id" class="btn danger">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>
<br />

