@model QuestionViewModel
@{
    ViewData["Title"] = "Question Info - Examly";
    string badgeColor = Model.Difficulty == QVMDifficulty.Easy ? "badge-success" :
                        Model.Difficulty == QVMDifficulty.Medium ? "badge-warning" :
                        "badge-danger";
}
<indicator hidden>inst-courses</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Question Info</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-weight-bold">Course</p>
                        <p>@Model.CourseName</p>
                        <p class="font-weight-bold">Question</p>
                        <p>@Model.Text</p>
                        <p class="font-weight-bold">Difficulty</p>
                        <label class="badge @badgeColor">@Model.Difficulty</label>
                    </div>
                    <div class="col-md-6">
                        <p class="font-weight-bold">Type</p>
                        <p>@(Model.Type == QVMType.MCQ ? "Multiple Choices" : " Ture / False")</p>
                        <p class="font-weight-bold">Grade</p>
                        <p>@Model.Grade</p>
                    </div>
                    <div class="row">
                        <p class="font-weight-bold pt-3">Choices</p>
                        @foreach (var choice in Model.Choices)
                        {
                            <div class="row m-1">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="@choice.Text" readonly />
                                            <div class="input-group-append">
                                                <button disabled class="btn btn-sm @(@choice.IsCorrect ? "btn-success" : "btn-danger")">
                                                    <i class="mdi @(choice.IsCorrect ? "mdi-check" : "mdi-close")"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>