@model QuestionViewModel
@{
    ViewData["Title"] = "QuestionInfo";
}


    <div class="text">
        <h2 data-text="QuestionInfo">QuestionInfo</h2>
    </div>
    <div>
        <div class="infocon">
            <p><strong>Course Name:</strong> @Model.Course?.Name</p>
            <p><strong>Question Text:</strong> @Model.Text</p>
            <p><strong>Question Difficulty:</strong> @Model.Difficulty</p>
            <p><strong>Grade:</strong> @Model.Grade</p>
            <p><strong>Choices Type:</strong> @(Model.Type == QVMType.MCQ ? "Multiple Choices" : " Ture / False")</p>
         </div>
    @if (Model.Choices.Count > 1)
    {
        @foreach (var choice in Model.Choices)
        {
            <div class="row m-1">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Choice</label>
                        <input type="text" class="form-control" value="@choice.Text" readonly />
                        <span class="@(@choice.IsCorrect ? "text-success" : "text-danger")">@(choice.IsCorrect ? "correct" : "incorrect")</span>
                    </div>
                </div>
             </div>
        }
    }
    </div>
    else
    {
            <div class="row m-1">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Choice</label>
                        <input type="text" class="form-control" value="@Model.Choices[0].Text" readonly />
                    </div>
                </div>
            </div>
    }

</div>