@model ExamListsViewModel

@{
    ViewData["Title"] = "Exams List - Examly";
}
<indicator hidden>inst-exams</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Upcoming Exams</p>
                <div class="row">
                    <div class="col-12">
                        <table class="table display expandable-table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Course</th>
                                    <th>Date</th>
                                    <th>Duration</th>
                                    <th>Grade</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.UpcomingExams.Count() > 0)
                                    @foreach (var commingExam in Model.UpcomingExams)
                                    {

                                        <tr>
                                            <td>@commingExam.Title</td>
                                            <td>@commingExam.CourseName</td>
                                            <td>@commingExam.ExamDate</td>
                                            <td>@commingExam.DurationInMinutes Minutes</td>
                                            <td>@commingExam.TotalGrade</td>
                                            <td class="col-1">
                                                @if (commingExam.ExamDate > DateTime.Now)
                                                {
                                                    <a type="button"
                                                       asp-action="ExamInfo" asp-route-id="@commingExam.Id"
                                                       class="btn btn-inverse-dark btn-rounded btn-icon ml-1">
                                                        <i class="mdi mdi-information-variant"></i>
                                                    </a>
                                                    <a type="button"
                                                       asp-action="ExamEdit" asp-route-id="@commingExam.Id"
                                                       class="btn btn-inverse-primary btn-rounded btn-icon ml-1">
                                                        <i class="mdi mdi-pencil"></i>
                                                    </a>
                                                    <a type="button"
                                                       onclick="return confirm('Delete this exam?')"
                                                       asp-action="ExamDelete" asp-route-id="@commingExam.Id"
                                                       class="btn btn-inverse-danger btn-rounded btn-icon ml-1">
                                                        <i class="mdi mdi-delete"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="not-available">@(DateTime.Now)</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                else
                                {
                                    <tr>
                                        <td colspan="6">No upcomming exams</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Past Exams</p>
                <div class="row">
                    <div class="col-12">
                        <table class="table display expandable-table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Course</th>
                                    <th>Date</th>
                                    <th>Grades</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PastExams.Count() > 0)
                                    foreach (var pastExam in Model.PastExams)
                                    {
                                        <tr>
                                            <td>@pastExam.Title</td>
                                            <td>@pastExam.CourseName</td>
                                            <td>@pastExam.ExamDate</td>
                                            <td>@pastExam.TotalGrade</td>
                                            <td class="col-1">
                                                <a type="button"
                                                   asp-action="ExamGrades" asp-route-id="@pastExam.Id"
                                                   class="btn btn-outline-dark btn-rounded btn-icon ml-1">
                                                    <i class="mdi mdi-clipboard-outline"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                else
                                {
                                    <tr>
                                        <td colspan="5">No old exams</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>