@model ExamListsViewModel

@{
    ViewData["Title"] = "E-Exam | Exams";
}

<div class="text">
    <h2 data-text="Exams_List">Exams_List</h2>
</div>
<br />

    <h1>Upcoming Exams</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <th class="col-4">Exam Name</th>
            <th>Date</th>
            <th>Grade</th>
            <th>Availability</th>
        </tr>
        @if (Model.UpcomingExams.Count() > 0)
            @foreach (var commingExam in Model.UpcomingExams)
            {

                <tr>
                    <td>@commingExam.CourseName - @commingExam.Title </td>
                    <td>@commingExam.ExamDate</td>
                    <td>@commingExam.TotalGrade</td>
                    <td>
                        @if (commingExam.ExamDate > DateTime.Now)
                        {
                            <a asp-action="ExamInfo" asp-route-id="@commingExam.Id" class="btn info">Info</a>
                            <a asp-action="ExamEdit" asp-route-id="@commingExam.Id" class="btn primary">Edit</a>
                            <a asp-action="ExamDelete" onclick="return confirm('Delete this exam?')" asp-route-id="@commingExam.Id" class="btn danger">Delete</a>
                        }
                        else
                        {
                            <span class="not-available">@(DateTime.Now)</span>
                        }
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td colspan="4">No upcomming exams</td>
            </tr>
        }
    </table>
    <h1>Past Exams</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <th class="col-4">Exam Name</th>
            <th>Date</th>
            <th>Grades</th>
            <th>Answers</th>
        </tr>
        @if (Model.PastExams.Count() > 0)
            foreach (var pastExam in Model.PastExams)
            {
                <tr>
                    <td>@pastExam.CourseName - @pastExam.Title</td>
                    <td>@pastExam.ExamDate</td>
                    <td>@pastExam.TotalGrade</td>
                    <td>
                        <a class="btn info" asp-action="ExamGrades" asp-route-id="@pastExam.Id">Students Grade</a>
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td colspan="4">No old exams</td>
            </tr>
        }
    </table>

