@model List<AddCourseViewModel>

@{
    ViewData["Title"] = "Add Course - Examly";
}
<indicator hidden>inst-manage</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Add Course</p>
                <div class="row">
                    <div class="col-12">
                        <form asp-action="AddCourses" method="post">
                            <table class="table display expandable-table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="3">No courses to add!</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr class="form-group">
                                                <th scope="row" class="col-1">@(i + 1)</th>
                                                <td class="col-1">
                                                    <input type="hidden" asp-for="@Model[i].Id" value="@Model[i].Id" />
                                                    <input type="hidden" asp-for="@Model[i].Name" value="@Model[i].Name" />
                                                    <label>@Model[i].Name</label>

                                                </td>
                                                <td class="col-1">
                                                    <input type="checkbox" class="btn-check" id="btn-check-outlined@(i)" asp-for="@Model[i].WantToAdd">
                                                    <label  class="btn btn-secondary lh-1" for="btn-check-outlined@(i)" asp-for="@Model[i].WantToAdd">Select</label>
                                                    <br />
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />
                            <button type="submit" asp-route-id="@ViewBag.DepartmentId" class="btn btn-primary">Add Course</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>