@model CourseInfoViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="text">
    <h2 data-text="Course_Details">Course Details</h2>
</div>
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-4"><strong>Id</strong></td>
            <td>@Model.CourseId</td>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td><strong>Instructor Name</strong></td>
            <td>@(Model.InstructorName != null ? Model.InstructorName : "N/A")</td>
        </tr>
        <tr>
            <td><strong>Department</strong></td>
            <td>@Model.DepartmentName</td>
        </tr>
        <tr>
            <td><strong>Branch</strong></td>
            <td>@(Model.BranchName != null? Model.BranchName : "N/A")</td>
        </tr>
    </tbody>
</table>
