@model StaffDepartmentViewModel
@{
    ViewData["Title"] = "Examly";
}
<indicator hidden>inst-manage</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="card-title m-0">Courses</p>
                    <a type="button"
                       asp-action="AddCourses" asp-route-id="@Model.Id"
                       class="btn btn-inverse-primary btn-icon-text">
                        <i class="mdi mdi-plus btn-icon-prepend d-inline-block"></i>
                        Add Course
                    </a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table display expandable-table">
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Instructor</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DepartmentCourses == null || !Model.DepartmentCourses.Any())
                                {
                                    <tr><td colspan="3">Currently no courses in the department</td></tr>
                                }
                                else
                                {
                                    foreach (var deptCourse in Model.DepartmentCourses)
                                    {
                                        <tr>
                                            <td>@deptCourse.Name</td>
                                            <td>@(deptCourse.InstructorName ?? "Not Assigned")</td>
                                            <td class="col-1">

                                                <a type="button"
                                                   asp-action="Details" asp-route-id="@deptCourse.CourseId"
                                                   class="btn btn-inverse-dark btn-rounded btn-icon ml-1">
                                                    <i class="mdi mdi-information-variant"></i>
                                                </a>
                                                <a type="button"
                                                   onclick="showDialog(@deptCourse.CourseId)"
                                                   class="btn btn-inverse-primary btn-rounded btn-icon ml-1">
                                                    <i class="mdi mdi-account-plus"></i>
                                                    
                                                </a>
                                                <a type="button"
                                                   onclick="return confirm('Are you sure?')"
                                                   asp-action="DeleteCourse" asp-route-id="@deptCourse.CourseId"
                                                   class="btn btn-inverse-danger btn-rounded btn-icon ml-1">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                               @*  <a asp-action="Details" asp-route-id="@deptCourse.CourseId" class="btn btn-secondary">Info</a>
                                                <button onclick="showDialog(@deptCourse.CourseId)" class="btn btn-primary">Assign Instructor</button>
                                                @* <a asp-action="AssignInstructor" asp-route-id="@deptCourse.Id" class="btn btn-primary">Assign Instructor</a> *@
                                               @* <a asp-action="DeleteCourse" onclick="return confirm('Are you sure?')" asp-route-id="@deptCourse.CourseId" class="btn btn-danger">Remove</a> *@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="div-id">
</div>
<script>
    function showDialog(id) {
        $("#div-id").load(`/Staff/Manager/AssignInstructor/${id}`, function () {
            $("#modal-id").modal('show');
        });
    }
</script>
