@model IEnumerable<StudentAnswersViewModel>
@{  
    ViewData["Title"] = "E-Exam | Answers";
}
<a class="btn success" asp-action="Grades" asp-route-stId="@ViewBag.StId">Back</a>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Question (grade)</th>
                <th>Answer</th>
                <th>Correct Answer</th>
                <th>Mark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var examChoice in Model)
            {
                <tr>
                    <td>@examChoice.QuestionText (@examChoice.QuestionGrade)</td>
                    <td class="@(examChoice.IsCorrect ? "correct" : "incorrect")">
                        @foreach (var choice in examChoice.StudentChoices)
                        {
                            <span>@choice.Text</span>
                            <br />
                        }
                    </td>
                    <td>
                        @foreach (var choice in examChoice.CorrectChoices)
                        {
                            <span>@choice.Text </span>
                            <br />
                        }
                    </td>
                    <td>              
                            <span>@(examChoice.IsCorrect ? "✔" : "❌") </span>
                            <br />
                    </td>
                </tr>
            }
        </tbody>
    </table>