@model InstructorViewModel
@{
    ViewData["Title"] = "Details";
    string gender = Model.Gender == "m" ? "Male" : "Female";
    string department = Model.ManagedDepartmentName ?? "No Department";
    string branchName = Model.BranchName ?? "No Branch";
}

<h1>Details</h1>
<div class="container p-0">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <div class="card m-0 p-0">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">ID: <strong> @Model.Id</strong> </p>
                    <p class="card-text">Age: @Model.Age</p>
                    <p class="card-text">Gender: @gender</p>
                    <p class="card-text">Phone: @Model.Phone</p>
                    <p class="card-text">Address: @Model.Address</p>
                    <p class="card-text">Branch: @branchName</p>
                    <p class="card-text">Manage Department: @department</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row mt-3">
        <div class="col-md-4 offset-md-0">
            <a asp-action="Index" asp-controller="Manage" class="btn info">Back to Dashboard</a>
            <a asp-action="Edit" asp-controller="Instructor" asp-route-Id="@Model.Id" class="btn success">Edit</a>
            <a asp-action="Delete" asp-controller="Instructor" asp-route-Id="@Model.Id" class="btn danger">Delete</a>
        </div>
    </div>
<div/>