@model InstructorViewModel
@{
    ViewData["Title"] = "Instructor Details - Examly";
    string gender = Model.Gender == "m" ? "Male" : "Female";
    string department = Model.ManagedDepartmentName ?? "No Department";
    string branchName = Model.BranchName ?? "No Branch";
}
<indicator hidden>admin-dash</indicator>
<div class="row justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="card-title m-0">Instructor Details</p>
                    <div>
                        <a asp-action="Edit" asp-controller="Instructor" asp-route-Id="@Model.Id" class="btn btn-inverse-primary btn-rounded btn-icon ml-1 align-content-center">
                            <i class="mdi mdi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-controller="Instructor" asp-route-Id="@Model.Id" class="btn btn-inverse-danger btn-rounded btn-icon ml-1 align-content-center">
                            <i class="mdi mdi-delete"></i>
                        </a>
                        <a asp-action="Index" asp-controller="Manage"
                           class="btn btn-inverse-dark btn-rounded btn-icon ml-1 align-content-center">
                            <i class="mdi mdi-close"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="card-title">Name: @Model.Name</p>
                        <p class="card-text">ID: @Model.Id</p>
                        <p class="card-text">Age: @Model.Age</p>
                        <p class="card-text">Gender: @gender</p>
                        <p class="card-text">Phone: @Model.Phone</p>
                        <p class="card-text">Address: @Model.Address</p>
                        <p class="card-text">Branch: @branchName</p>
                        <p class="card-text">Manage Department: @department</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

